<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="{{ path('dashboard') }}">Dashbord</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('users') }}">Users</a>
  </li>
</ul>