{% extends 'layout/base.html.twig' %}

{% block body %}
    Favorites
    <a
        href="{{ path('export.favorites') }}"
        class="btn btn-success"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Export your favourites to Excel"
        id="export-favorite-to-excel"
    ><i class="fa-solid fa-file-excel"></i></a>
{% endblock %}
