<div class="alert alert-{{ type }} alert-dismissible position-fixed end-0 me-3" role="alert" style="z-index: 1030;">
    <div>{{ message[0] }}</div>
    <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
</div>
