<li class="list-group-item ">
    {{  title }}
    <a href="#/favourite/add/{{ id }}"
       class="btn btn-primary me-md-2 float-end"
       role="button"
       data-bs-toggle="tooltip"
       data-bs-placement="right"
       title="Save to your favourites"
    ><i class="fa-solid fa-plus"></i></a>
</li>
