<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md justify-content-center">
        <div class="container">
            <a href="{{ path('main') }}" class="header-brand d-flex me-auto text-white">
                <strong>Dictionary Client</strong>
            </a>

            <div class="d-flex align-items-center text-white">
                <span>{% if app.user %} {{ app.user.userIdentifier }} {% endif %}</span>

                {% include 'elements/menus/user-menu.html.twig' %}

            </div>
        </div>
    </nav>
</header>
