<h3>Definitions</h3>

<ul class="list-group list-group-flush">
    {% if result is defined %}
        {% for entry in result %}
            {% for definition in entry.translations %}
                {% include 'elements/definition.html.twig' with {'title': definition, 'id': 1} %}
            {% endfor %}
        {% endfor %}
    {% else %}
        No definitions
    {% endif %}
</ul>
