<h3>Definitions</h3>

<ul class="list-group list-group-flush">
    {% if entry is defined %}
        {% for definition in entry.definitions %}
            {% include 'elements/definition.html.twig' with {'title': definition, 'id': 1} %}
        {% endfor %}
    {% else %}
        No definitions
    {% endif %}
</ul>
