<table class="table" id="favorites">
    {% if favorites|length > 0 %}
        <thead>
        <tr>
            <th scope="col">Word</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for favorite in favorites %}
            <tr id="row-{{ favorite.id }}">
                <td>{{ favorite.word }}</td>
                <td class="text-end">
                    <button
                            data-id="{{ favorite.id }}"
                            class="btn btn-danger remove-favorite text-light"
                    ><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    {% else %}
        <div>No words have been searched yet.</div>
    {% endif %}

</table>