<h3>History</h3>

<ul class="list-unstyled">
    {% if history|length > 0 %}
        {% for word in history %}
            <li><a href="{{ path('search.result', {'provider': 'oxford', 'search': word.value }) }}">{{ word.value }}</a></li>
        {% endfor %}
    {% else %}
        No history
    {% endif %}
</ul>
