<h3>History</h3>

<ul id="history" class="list-unstyled">
    {% if history|length > 0 %}
        {% for searched in history %}
            <li>
                <a href="{{ path('dictionary_search_result', {'provider': 'oxford', 'search': searched.word }) }}">
                    {{ searched.word }}
                </a>
                <span class="badge rounded-pill bg-info ms-2">{{ searched.count }}</span>
            </li>
        {% endfor %}
    {% else %}
        No history
    {% endif %}
</ul>
