<h3>History</h3>

<ul class="list-unstyled">
    {% if history %}
        <li><a href="#">Word 1</a></li>
        <li><a href="#">Word 2</a></li>
        <li><a href="#">...</a></li>
    {% else %}
        No history
    {% endif %}
</ul>
