<div class="row">
    <div class="col-6 align-self-center mt-5">
        <h3>Tag Clouds</h3>
        <div id="tags"  style="font-size: 50%">
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
            {% include 'elements/tag.html.twig' with {'title': 'Word 1'|lower, 'id': 1, 'size': random(200,700)/100} %}
        </div>
    </div>
</div>
