{% extends 'layout/base.html.twig' %}

{% block body %}
    {% include 'sections/title.html.twig' %}
    {% include 'sections/search.html.twig' %}
    <div class="row mt-5 justify-content-between">
        <div class="col-sm-12 col-md-6">
            {% include 'sections/definitions.html.twig' %}
        </div>
        <div class="col-sm-12 col-md-4">
            {% include 'sections/history.html.twig' %}
        </div>
    </div>
    {% if result %}
        {% include 'sections/pronunciations.html.twig' %}
    {% endif %}
    {% include 'sections/tag-clouds.html.twig' %}
{% endblock %}