<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Oxford Dictionary client{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src=""></script>
    </head>
    <body class="d-flex flex-column h-100">
        {% include 'components/navigation/header.html.twig' %}

        <main class="flex-shrink-0">
            <div class="container mt-5 mb-5">
                {% block body %}{% endblock %}
            </div>
        </main>

        {% include 'components/navigation/footer.html.twig' %}
    </body>
</html>
